html
	
	head
		title OS9
		link(rel="stylesheet" type="text/css" href="os9.css")
		script(data-main="../scripts/os9" src="../scripts/require.js")

	body
		div.app-container
			menu.menu-bar
				ul.align-left
					li File
						ul.submenu
							li About This Computer
							li.menu-separator
							li Menu 1
					li Edit
					li View
					li Window
					li Special
					li Help

				ul.align-right
					li.no-hover 12:00 PM

			div.desktop
				div.icon
					img.icon-image
					p.icon-label Icon